.about{
    margin-bottom: 120px;
}
.about__section{
    display: flex;
    /* background: url(../../img/about-bg.png) center center / no-repeat cover; */
}
.about__section::before{
    content: '';
    display: block;
    width: 490px;
    height: 505px;
    background: url(../../img/gates.png) center center / cover no-repeat;
}
.about__content{
    margin-top: 97px;
    margin-left: -47px;
    max-width: 785px;
    background: url(../../img/mountains.png) center center / cover no-repeat;
    padding: 70px 81px;
}
.title--dark{
    color: #000;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}
.about__text{
    margin-bottom: 43px;
}
.about__text p{
    font-size: 16px;
    line-height: 27px;
    color: #000;
}
.about__text p:last-child{
    margin-bottom: 0;
}