.footer{
    height: 93px;
    background: #001821;
}
.footer__container{
    border-top: 1px solid rgb(255, 254, 254, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__col{
    display: flex;
    align-items: center;
}
.footer__col--align--right{
    justify-content: flex-end;
}
.socials{
    display: flex;
    margin-right: 74px;
}
.socials__item{
    margin-right: 10px;
}
.socials__item:last-child{
    margin-right: 0;
}
.contacts__text{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
.socials__link{
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link{
    background-image: url(../../img/telegram.png);
}
.socials__item--icon--telegram .socials__link:hover{
    background: url(../../img/telegram-lg.png);
}
.socials__item--icon--vk .socials__link{
    background-image: url(../../img/vk.png);
}
.socials__item--icon--vk .socials__link:hover{
    background-image: url(../../img/vk-lg.png);
}
.socials__item--icon--facebook .socials__link{
    background-image: url(../../img/facebook.png);
}
.socials__item--icon--facebook .socials__link:hover{
    background-image: url(../../img/fb-light.png);
}
.socials__item--icon--insta .socials__link{
    background-image: url(../../img/in.png);
}
.socials__item--icon--insta .socials__link:hover{
    background-image: url(../../img/in-lg.png);
}