.footer{
    height: 93px;
    background: #001821;
}
.footer__container{
    border-top: 1px solid rgb(255, 254, 254, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__col{
    display: flex;
    align-items: center;
}
.footer__col--align--right{
    justify-content: flex-end;
}
.socials{
    display: flex;
    margin-right: 74px;
}
.socials__item{
    margin-right: 10px;
}
.socials__item:last-child{
    margin-right: 0;
}
.contacts__text{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
.socials__link{
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link{
    position: relative;
}
.socials__item--icon--telegram .socials__link::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -346px -10px;
    transition: .3s;
}
.socials__item--icon--telegram .socials__link::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -402px -10px;
    opacity: 0;
    transition: .3s;
}
.socials__item--icon--telegram .socials__link:hover:before{
    opacity: 1;
}
.socials__item--icon--telegram .socials__link:hover:after{
    opacity: 0;
}
.socials__item--icon--vk .socials__link{
    position: relative;
}
.socials__item--icon--vk .socials__link::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -10px -10px;
    transition: .3s;
}
.socials__item--icon--vk .socials__link::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -66px -10px;
    transition: .3s;
}
.socials__item--icon--vk .socials__link:hover:before{
    opacity: 1;
}
.socials__item--icon--vk .socials__link:hover:after{
    opacity: 0;
}
.socials__item--icon--facebook .socials__link{
    position: relative;
}
.socials__item--icon--facebook .socials__link::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -122px -10px;
    transition: .3s;
}
.socials__item--icon--facebook .socials__link::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -178px -10px;
    transition: .3s;
}
.socials__item--icon--facebook .socials__link:hover:before{
    opacity: 1;
}
.socials__item--icon--facebook .socials__link:hover:after{
    opacity: 0;
}
.socials__item--icon--insta .socials__link{
    position: relative;
}
.socials__item--icon--insta .socials__link::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -234px -10px;
    transition: .3s;
}
.socials__item--icon--insta .socials__link::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 36px; height: 36px;
    background: url('../../img/css_sprites.png') -290px -10px;
    transition: .3s;
}
.socials__item--icon--insta .socials__link:hover:before{
    opacity: 1;
}
.socials__item--icon--insta .socials__link:hover:after{
    opacity: 0;
}