.header{
    /* margin-top: 32px; */
    padding-top: 29px;
    margin-bottom: 130px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__col{
    display: flex;
    align-items: center;
}
.header__col--align--right{
    justify-content: flex-end;
}
.logo{
    display: block;
    margin-right: 80px;
}
.navbar__list{
    display: flex;
}
.navbar__item{
    margin-right: 52px;
    vertical-align: middle;
}
.navbar__item:last-child{
    margin-right: 0;
}
.navbar__link{
    font-size: 14px;
    text-transform: capitalize;
}
.navbar__link:hover{
    color: #DA0100;
}
.contacts{
    text-align: end;
}
.contacts__phone{
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}
.contacts__info{
    text-align: end;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
}