.header{
    height: 77px;
    margin-bottom: 130px;
    position: relative;
}
.header__container{
    position: relative;
}
.logo, .navbar, .navbar__item, .contacts{
    display: inline-block;
}
.contacts{
    position: absolute;
    right: 0;
    top: 26px;
}
.logo{
    position: absolute;
    left: 0;
    top: 29px;
}
.navbar{
    position: absolute;
    top: 40px;
    left: 163px;
}
.navbar__item{
    margin-right: 43px;
    vertical-align: middle;
}
.navbar__item:last-child{
    margin-right: 0;
}
.navbar__link{
    font-size: 14px;
    text-transform: capitalize;
}
.navbar__link:hover{
    color: #DA0100;
}
.contacts__phone{
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}
.contacts__info{
    text-align: end;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
}