.offers{
    margin-bottom: 127px;
}
.offers__list{
    display: flex;
    justify-content: space-between;
}
.offers__item{
    background: #fff;
    width: calc(100% / 3 - 18px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.offers__content{
    padding: 29px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.offers__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.offers__features{
    display: flex;
    align-items: center;
}
.offers__feature{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    margin-right: 28px;
}
.offers__feature:last-child{
    margin-right: 0;
}
.offers__feature-icon{
    margin-right: 10px;
}
.offers__feature-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666;
}
.offers__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 24px;
}
.offer__wrapper--btn{
    margin-top: auto;
}
.btn--light{
    width: 131px;
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
}
.btn--light:hover{
    background: #F5170E;
    color: #fff;
}