.offers{
    margin-bottom: 127px;
}
.offers__item{
    display: inline-block;
    background: #fff;
    width: 362px;
    margin-right: 20px;
    border-radius: 5px;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__content{
    padding: 33px;
}
.offers__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.offers__feature{
    display: inline-block;
    margin-bottom: 23px;
    margin-right: 28px;
}
.offers__feature:last-child{
    margin-right: 0;
}
.offers__feature-icon{
    margin-right: 10px;
    display: inline-block;
}
.offers__feature-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    display: inline-block;
}
.offers__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 24px;
}
.btn--light{
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
}
.btn--light:hover{
    background: #F5170E;
    color: #fff;
}